<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/gallery.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <ul class="navbar-ul">
                <li class="navbar-li"> <a class="navbar-anchor" href="../template/index.html" > Home </a> </li>
                <li class="navbar-li"> <a class="navbar-anchor" href="#" > Resume </a> </li>
                <li class="navbar-li"> <a class="navbar-anchor" href="../template/gallery.html" > Gallery </a> </li>
                <li class="navbar-li" > <a class="navbar-anchor" href="../template/contact.html" > Contact Us </a> </li>
            </ul>
            
        </nav>
        <div >
            <img class="images" src="https://image.shutterstock.com/z/stock-photo-rio-de-janeiro-rio-de-janeiro-brazil-march-guanabara-bay-1693543372.jpg">
            <img class="images" src="https://image.shutterstock.com/z/stock-photo-dj-mixing-at-sunset-beach-party-in-summer-vacation-outdoor-disc-jockey-hands-playing-music-for-1043546911.jpg" alt="Image loading">
            <img class="images" src="https://image.shutterstock.com/z/stock-photo-landscape-of-paradise-tropical-island-beach-sunrise-shot-520068193.jpg" alt="Image loading">
        </div>
        <div >
            <img class="images" src="https://image.shutterstock.com/z/stock-photo-leme-and-copacabana-beach-with-palms-and-mosaic-of-sidewalk-in-rio-de-janeiro-137108321.jpg">
            <img class="images" src="https://image.shutterstock.com/z/stock-photo-ipanema-beach-with-mosaic-of-sidewalk-in-rio-de-janeiro-brazil-422575195.jpg" alt="Image loading">
            <img class="images" src="https://image.shutterstock.com/z/stock-photo-tropical-beach-200624198.jpg" alt="Image loading">
        </div>
        <div >
            <img class="images" src="https://image.shutterstock.com/z/stock-photo-palm-and-tropical-beach-569532439.jpg">
            <img class="images" src="https://image.shutterstock.com/z/stock-photo-beach-leme-and-copacabana-in-rio-de-janeiro-99102851.jpg" alt="Image loading">
        </div>
        
        
    </div>

   
    
</body>
</html>