<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="../static/Portfolio.css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <ul class="navbar-ul">
                <li class="navbar-li"> <a class="navbar-anchor" href="#" > Home </a> </li>
                <li class="navbar-li"> <a class="navbar-anchor" href="#" > Resume </a> </li>
                <li class="navbar-li"> <a class="navbar-anchor" href="#" > Galery </a> </li>
                <li class="navbar-li" > <a class="navbar-anchor" href="../template/contact.html" > contact us </a> </li>
            </ul>
            
        </nav>


        <img id="Selfie" class="responsive" src="../static/marcelo.png" alt="Photo of me">

        <div class="about">
            <div class="top">
                <h4>Marcelo Barbosa</h4>
            </div>
            <div class="bottom">
                Hello! I am an extremely driven and creative Full Stack Developer who is currently open for career opportunities as a front-end or back-end web developer in the Greater DFW Area.
                <br>
                Former engineering student, entrepreneur, and recent graduate of a 3 Fullstack Web Development course from Coding Dojo, I am a dedicated and motivated professional in search of a career in software development. During my journey at Coding Dojo, I achieved Black Belt highest honors on CRUD applications, meaning my professors could not hack my project. As a Fullstack developer, I have the ability to perfectly combine the front end and back end, thus giving the UI clarity and the back end the most functionality.
                <br>
            </div>
        </div>
        <div style="text-align: center;">
            <div class="box1">
                <div class="box1-1">
                    America Line

                </div>
                <img class="webpage" src="../static/america-line.png" class="responsive" alt="Loading Image...">
                    
                <p>• Project designed to give the user a better experience when flying by planning their in flight entertainment in advance.

                </p>
                    <h3>Technologies:</h3>
                    <img class="tec" src="../static/django.png" alt="Image">
                    <img class="tec" src="../static/codeigniter.png" alt="Image">
                    <img class="tec" src="../static/ajax.png" alt="Image">
                    <img class="tec" src="../static/mysql.png" alt="Image">
                    <img class="tec" src="../static/sqlite.png" alt="Image">
                    <img class="tec" src="../static/HTML.png" alt="Image">
                    <img class="tec" src="../static/CSS.png" alt="Image">
                    <img class="tec" src="../static/JavaScript.png" alt="Image">
                    <img class="tec" src="../static/bootstrap.png" alt="Image">
                    <img class="tec" src="../static/github.png" alt="Image">
                    <img class="tec" src="../static/jQuery.png" alt="Image">
                    <br>
                    <a class="linke" href="http://54.234.149.248">Go to website</a>
                    

            </div>
            <div class="box1">
                <div class="box1-1">
                    Product and Category

                </div>
                <img class="webpage" src="../static/mean-web.png" class="responsive" alt="Loading Image...">
                    

                <p>
                    • Implemented object-oriented design to create a program allowing users to create products,update,delete and read.	
Adapted a Mongodb backend to serve as an API for an Angular single-page app (SPA) by sending and receiving JSON data.                 </p>
                    <h3>Technologies:</h3>
                    <img class="tec" src="../static/nodejs.png" alt="Image">
                    <img class="tec" src="../static/django.png" alt="Image">
                    <img class="tec" src="../static/d3.png" alt="Image">
                    <img class="tec" src="../static/angular.png" alt="Image">
                    <img class="tec" src="../static/sqlite.png" alt="Image">
                    <img class="tec" src="../static/HTML.png" alt="Image">
                    <img class="tec" src="../static/CSS.png" alt="Image">
                    <img class="tec" src="../static/JavaScript.png" alt="Image">
                    <img class="tec" src="../static/MEAN.png" alt="Image">
                    <br>
                    <a class="linke" href="https://www.w3schools.com/">Family Contacts</a>
                    

            </div>            
            <div class="box1">
                <div class="box1-1">
                    Courses and Instructor

                </div>
                <img class="webpage" src="../static/java-web.png" class="responsive" alt="Loading Image...">
                    

                <p>
                    •Implemented object-oriented design to create a program allowing users to create courses,update,delete and read.            </p>
                    <h3>Technologies:</h3>
                    <img class="tec" src="../static/jQuery.png" alt="Image">
                    <img class="tec" src="../static/codepen.png" alt="Image">
                    <img class="tec" src="../static/angular.png" alt="Image">
                    <img class="tec" src="../static/sqlite.png" alt="Image">
                    <img class="tec" src="../static/HTML.png" alt="Image">
                    <img class="tec" src="../static/CSS.png" alt="Image">
                    <img class="tec" src="../static/JavaScript.png" alt="Image">
                    <img class="tec" src="../static/mysql.png" alt="Image">
                    <br>
                    <a class="linke" href="http://3.86.53.188/">Go to website</a>
                    

            </div>
        </div>
    </center>
    <div class="footer">
        <h5>marceloarthurb@gmail.com / 617-369-2334</h5>
        <img class="lin" src="../static/github.png" alt="IMG">
        <a class="linki" href="https://github.com/marceloarb">marceloarb</a>
        <img class="lin" src="../static/linkedin.png" alt="IMG">
        <a class="linki" href="https://www.linkedin.com/in/marcelo-barbosa-427471aa/">marceloarb</a>
        

    </div>
    
</body>
</html>